doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
    title Document
  body
    section.hero.is-fullheight
      .hero-body.has-text-centered
        .container
          .columns.is-mobile.is-centered
            .column.is-one-quarter
              form(action='/productos' method='post')
                .field
                  label.label Nombre
                  .control
                    input.input(name='name' type='text' placeholder='Nombre')
                .field
                  label.label Precio
                  .control
                    input.input(name='price' type='number' placeholder='Precio')
                .field
                  label.label Imagen
                  .control
                    input.input(name='image' type='text' placeholder='Url de la imagen')
                .buttons.is-grouped.is-centered
                  button.button.is-link.is-rounded(type='submit' value='POST' onclick='updateMethod(this)') Enviar
                  button.button.is-primary.is-rounded(type='submit' value='GET' onclick='updateMethod(this)') Ver productos
              script.
                async function updateMethod  (elem)  {
                elem.form.setAttribute("method", elem.value);
                }
